{{ define "sort-table" }}

{{ $mapped := .Mapped }}
{{ $cats:= $mapped.Categories }}
{{ $workers := $mapped.Workers }}
{{ $addrs:= $mapped.Addresses }}

{{ $helper := .Helper }}
{{ $tasks := .Raw.Tasks }}
{{ $filter := true }}
<div id="sort-table" class="table content">
    <div id="sort-table-filters">
        <div class="sort-block">
            <select id="sort-select">
                <option value="stat">Статус</option>
                <option value="cat">Категории</option>
                <option value="desc">Постановка</option>
                <option value="obj">Объект</option>
                <option value="worker">Исполнитель</option>
            </select>
            <button id="sort-btn">▲</button>
        </div>
    </div>

    <table class="block-table">
        {{ range $tasks }}
        {{ if $filter }}
        <tbody>
            <tr>
                <td data-lable="Статус">
                    {{ call $helper.NFormat .Completed_date }}
                </td>
                <td data-lable="Категории">
                    {{ index $cats .Cat_1 }}
                    {{ index $cats .Cat_2 }}
                    {{ index $cats .Cat_3 }}
                </td>
                <td data-lable="Постановка">{{ .Desc }}</td>
                <td data-lable="Объект">{{ index $addrs .Addr_obj }}</td>
                <td data-lable="Исполнитель">{{ index $workers .Worker }}</td>
            </tr>
        </tbody>
        {{ end }}
        {{ end }}
    </table>
</div>

{{ end }}
