{{ define "sort-table" }}

{{ $mapped := .Mapped }}
{{ $cats:= $mapped.Categories }}
{{ $workers := $mapped.Workers }}
{{ $addrs:= $mapped.Addresses }}

{{ $helper := .Helper }}
{{ $tasks := .Raw.Tasks }}
{{ $filter := true }}
<div id="sort-table" class="table content">
    <table id="block-table" class="datatable">
        <thead>
            <tr>
                <th>Статус</th>
                <th>Категории</th>
                <th>Постановка</th>
                <th>Объект</th>
                <th>Исполнитель</th>
            </tr>
        </thead>
        <tbody>
            {{ range $tasks }}
            {{ if $filter }}
            <tr>
                <td data-lable="Статус">
                    {{ call $helper.NFormat .Completed_date }}
                </td>
                <td data-lable="Категории">
                    {{ index $cats .Cat_1 }}
                    {{ index $cats .Cat_2 }}
                    {{ index $cats .Cat_3 }}
                </td>
                <td data-lable="Постановка">{{ .Desc }}</td>
                <td data-lable="Объект">{{ index $addrs .Addr_obj }}</td>
                <td data-lable="Исполнитель">{{ index $workers .Worker }}</td>
            </tr>
            {{ end }}
            {{ end }}
        </tbody>
    </table>
</div>

{{ end }}
