{{ block "auth" . }}

<fieldset>
    <form hx-post="/submit-auth">

        <input type="tel" hx-post="/submit-auth/tel" hx-target="#tel-err" hx-push-url="false" hx-swap="outerHTML"
            hx-trigger="change" name="tel">
        <div id="tel-err">{{ template "tel-err" }}</div>

        <input id="password " type="password" hx-post="submit-auth/pass" hx-history="false" name="pass">

        <button type="submit">Авторизоваться</button>
    </form>
</fieldset>

{{ end }}



{{ define "tel-err" }}
<div id="tel-err">{{ . }}</div>
{{ end }}

{{ block "auth-failed" . }}
<span>Не удалось авторизоваться</span>
{{ end }}

{{ block "auth-ok" . }}

{{ end }}
