{{ block "task-list" . }}

<div>
    <h1>Задачи</h1>
    {{ $tasks := .Raw.Tasks }}
    {{ $cats := .Mapped.Categories }}
    {{ $adds := .Mapped.Addresses }}
    {{ $helper := .Helper }}
    {{ $ws:= .Mapped.Workers }}
    {{ range $tasks }}
    <div>
        <label>Категория 1</label>
        <p>{{ index $cats .Cat_1 }}</p>

        <label>Категория 2</label>
        <p>{{ index $cats .Cat_2 }}</p>

        <label>Категория 3</label>
        <p>{{ index $cats .Cat_3 }}</p>

        <label>Описание</label>
        <p>{{ .Desc }}</p>

        <label>Адрес</label>
        <p>{{ index $adds .Addr_obj }}</p>

        <label>Дата создания</label>
        <p>{{ call $helper.Format .Created_date }}</p>

        <label>Срок выполнения</label>
        <p>{{ call $helper.NFormat .Until_date }}</p>

        <label>Выполнено</label>
        <p>{{ call $helper.NFormat .Completed_date }}</p>

        <label>Доп. комментарий</label>
        <p>{{ .Comment }}</p>

        <label>Исполнитель</label>
        <p>{{ index $ws .Worker }}</p>
    </div>
    <hr>
    {{ end }}
</div>

{{ end }}
