{{ block "task-form" . }}

<form hx-post="/submit-task" id="task-form" hx-swap="outerHTML" hx-push-url="task-list" hx-history>
    <div>
        <div id="comb-cat-wrap">
            <label>Категории задачи</label>
            <div>
                <select id="cat_1" required name="cat_1" hx-post="/submit-task/cat-1">
                    <!-- probably add hx-swap-oob and hx-target -->
                    <option selected disabled>Не выбрано!</option>
                    {{ range .Categories }}
                    {{ if eq .Level 1}}
                    <option value="{{ .Id }}">{{ .Name }}</option>
                    {{ end }}
                    {{ end }}
                </select>
            </div>

            {{ $cat_1 := 1 }}

            <div>
                <select id="cat_2" required name="cat_2">
                    {{ range .Categories }}
                    {{ if eq .Parent.Int32 $cat_1 }}
                    <option value="{{ .Id }}">{{ .Name }} {{ .Parent.Int32 }} </option>
                    {{ end }}
                    {{ end }}
                </select>
            </div>

            <div>
                <select id="cat_3" required name="cat_3">
                    {{ range .Categories }}
                    <option value="{{ .Id }}">{{ .Name }}</option>
                    {{ end }}
                </select>
            </div>
        </div>

        <div>
            <label>Адрес</label>
            <select required name="address">
                <option disabled selected>Не выбран!</option>
                {{ range .Addresses}}
                <option value="{{ .Id }}">
                    {{ .Address}}
                </option>
                {{ end }}
            </select>
        </div>

        <div>
            <label>Описание задачи</label>
            <input type="text" id="description" name="desc">
        </div>

        <div>
            <label>Дата создания</label>
            <input type="date" id="created" name="created" value="{{ .Today }}" hx-post="/submit-task/created">
        </div>

        <div id="until-div">
            <div>
                <label>Срок выполнения</label>
                <input type="date" id="do-until" name="do-until" hx-post="/submit-task/until" hx-target="#until-div"
                    hx-swap="outerHTML">
            </div>

            <div>
                <label>Без определенного срока</label>
                <input type="checkbox" id="until-checkbox">
            </div>
        </div>

        <div>
            <label>Исполнители</label>
            <select id="actor-selector" required>
                <option selected disabled>Не выбран!</option>
                {{ range .Workers}}
                <option value="{{ .Id }}">{{ .F_name }} {{ .I_name }} {{ .O_name }}</option>
                {{ end }}
            </select>
        </div>

        <div>
            <label>Комментарий</label>
            <input type="text" id="comment" name="comment">
        </div>

        <button type="submit">Добавить задачу</button>
    </div>
</form>

{{ end }}
