{{ block "task-list" . }}

<div>
    <h1>Задачи</h1>
    {{ range . }}
    <div>
        <p>{{ .Cat_1 }}</p>
        <p>{{ .Cat_2 }}</p>
        <p>{{ .Cat_3 }}</p>
        <p>{{ .Desc }}</p>
        <p>{{ .Addr_obj }}</p>
        <p>{{ .Created_date }}</p>
        <p>{{ .Until_date }}</p>
        <p>{{ .Completed_date }}</p>
        <p>{{ .Comment }}</p>
    </div>
    <hr>
    {{ end }}
</div>

{{ end }}

<!-- <ul> -->
<!--     {{ range .Actors }} -->
<!--     <p>{{ . }}</p> -->
<!--     {{ end }} -->
<!-- </ul> -->


<!-- <p> -->
<!--     {{ if .IsUntil }} -->
<!--     {{ .DoUntil }} -->
<!--     {{ else }} -->
<!--     Без определенного срока -->
<!--     {{ end }} -->
<!-- </p> -->
