{{ define "content" }}
<div class="split-container">
    <div class="left">
        <div id="">
            <button hx-post="/addrs/add-panel" hx-target="#addrs-panel" hx-swap="innerHTML"
                    hx-on:click="document.querySelector('.right').style.display = 'flex';">Добавить адрес</button>
        </div>
        <table class="datatable" id="addrs-table">
            <thead>
                <th>Адрес</th>
                <th>Вкл</th>
            </thead>
            <tbody id="addrs-table-body">
                {{ range . }}
                {{ template "addrs-row" . }}
                {{ end }}
            </tbody>
        </table>
    </div>

    <div class="right">
        <button class="close-btn"
                hx-on:click="document.querySelector('.right').style.display = 'none';">❌</button>
        <h3>Данные</h3>
        <div id="addrs-panel"></div>
    </div>
</div>
{{ end }}

{{ define "addrs" }}
{{ template "base" . }}
{{ end }}
