{{ define "content" }}

<div class="no-print" style="margin-bottom: 20px;">
    <button hx-post="/print" hx-target="#print-frame" hx-swap="none" id="print-btn">🖨️ Печать</button>
    <iframe id="print-frame" style="display: none;"></iframe>
</div>

<div id="alltasks-filters">
    {{ template "alltasks-filters" . }}
</div>

<div id="alltasks-wrap" class="table content">
    <table id="alltask-block-table" class="datatable">
        <thead>
            <tr>
                <th>Статус</th>
                <th>Категории</th>
                <th>Объект</th>
                <th>Исполнитель</th>
                <th>Постановка</th>
            </tr>
        </thead>
        <tbody id="alltasks-tbody">
            {{ template "alltasks-tbody" . }}
        </tbody>
    </table>
</div>
{{ end }}

{{ define "alltasks" }}
{{ template "base" . }}
{{ end }}
