{{ define "content" }}
{{ $cats := .Data.Cats }}
{{ $workers := .Data.UWs }}
{{ $addrs := .Data.Addrs }}

{{ $helper := .Helper }}
{{ $tasks := .Data.Tasks }}

<div id="alltasks-wrap" class="table content">
    <div id="alltasks-filters">
        <p>фильтры</p>
    </div>

    <table class="datatable">
        <thead>
            <th>К1</th>
            <th>К2</th>
            <th>К3</th>
            <th>Постановка</th>
            <th>Объект</th>
            <th class="tab-date">Создано</th>
            <th class="tab-date">Срок</th>
            <th class="tab-date">Отмечено</th>
            <th class="tab-date">Выполнено</th>
            <th>Исполнитель</th>
            <th>Комментарий</th>
        </thead>

        {{ range $tasks }}
        <tr>
            <td>{{ (index $cats .Cat1).Name }}</td>
            <td>{{ (index $cats .Cat2).Name }}</td>
            <td>{{ (index $cats .Cat3).Name }}</td>
            <td>{{ .Desc }}</td>
            <td>{{ (index $addrs .Addr_obj).Address }}</td>
            <td>{{ call $helper.Format .Created_date }}</td>
            <td>{{ call $helper.NFormat .Until_date }}</td>
            <td>{{ call $helper.NFormat .Mark_date }}</td>
            <td>{{ call $helper.NFormat .Completed_date }}</td>
            <td>{{ $w := (index $workers .Worker).W }} {{ $w.F_name }} {{ $w.I_name }} {{ $w.O_name }}</td>
            <td>{{ .Comment }}</td>
        </tr>
        {{ end }}
    </table>
</div>
{{ end }}

{{ define "alltasks" }}
{{ template "base" . }}
{{ end }}
