{{ define "content" }}
{{ $cats := .Data.Cats }}
{{ $workers := .Data.UWs }}
{{ $addrs := .Data.Addrs }}

{{ $helper := .Helper }}
{{ $tasks := .Data.Tasks }}

<div id="alltasks-wrap" class="table content">
    <table id="alltask-block-table" class="datatable">
        <thead>
            <tr>
                <th>Статус</th>
                <th>Категории</th>
                <th>Объект</th>
                <th>Исполнитель</th>
                <th>Постановка</th>
            </tr>
        </thead>
        <tbody>
            {{ range $tasks }}
            <tr>
                <td data-label="">
                    {{ call $helper.Status .Mark_date }}
                </td>
                <td data-label="Категории">
                    <span>{{ (index $cats .Cat1).Name }}&nbsp</span>
                    <span>{{ (index $cats .Cat2).Name }}&nbsp</span>
                    <span>{{ (index $cats .Cat3).Name }}</span>
                </td>
                <td data-label="Объект">{{ (index $addrs .Addr_obj).Address }}</td>
                <td data-label="Исполнитель">{{ $w := (index $workers .Worker).W }} {{ $w.F_name }} {{ $w.I_name }} {{
                    $w.O_name }}</td>
                <td data-label="Постановка">{{ .Desc }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}

{{ define "alltasks" }}
{{ template "base" . }}
{{ end }}
