{{ define "content" }}
<div>
    ADMIN PANEL
</div>
<div>
    <button hx-get="/newtask/" hx-swap="innerHTML" hx-target="#content" hx-push-url="true">Добавить задачу</button>
    <button hx-get="/alltasks/" hx-swap="innerHTML" hx-target="#content" hx-push-url="true">Просмотреть задачи</button>
    <button hx-get="/me/" hx-swap="innerHTML" hx-target="#content" hx-push-url="true">Мои задачи</button>
    <button hx-get="/workers/" hx-swap="innerHTML" hx-target="#content" hx-push-url="true">Workers</button>
</div>
{{ end }}

{{ define "amenu" }}
{{ template "base" . }}
{{ end }}
