{{ define "content" }}
<div class="menu">
    <div>
        ADMIN PANEL
    </div>
    <div class="menu-buttons">
        <button hx-get="/newtask/" hx-swap="innerHTML" hx-target="#content" hx-push-url="true">Добавить задачу</button>
        <button hx-get="/alltasks/" hx-swap="innerHTML" hx-target="#content" hx-push-url="true">Просмотреть
            задачи</button>
        <button hx-get="/me/" hx-swap="innerHTML" hx-target="#content" hx-push-url="true">Мои задачи</button>
        <button hx-get="/workers/" hx-swap="innerHTML" hx-target="#content" hx-push-url="true">Сотрудники</button>
        <button hx-get="/addrs/" hx-swap="innerHTML" hx-target="#content" hx-push-url="true">Адреса</button>
        <button hx-get="/cats/" hx-swap="innerHTML" hx-target="#content" hx-push-url="true">Категории</button>
    </div>
</div>
{{ end }}

{{ define "amenu" }}
{{ template "base" . }}
{{ end }}
