{{ define "content" }}
<div class="split-container">
    <div class="left">
        <div id="">
            <button hx-post="/cats/add-panel" hx-target="#cats-panel" hx-swap="innerHTML"
                hx-on:click="document.querySelector('.right').style.display = 'flex';">Добавить категорию</button>
            <div class="checkbox-with-text">
                <label for="w-hide">Скрыть отключенные категории</label>
                <input type="checkbox" name="c-hide" id="c-hide" value="1" checked hx-post="/cats/filter"
                    hx-target="#cats-table-body" hx-swap="innerHTML" hx-trigger="load, change">
            </div>
        </div>
        <table id="cats-table">
            <thead>
                <th class="no-sort">Категория</th>
                <th class="no-sort">Вкл</th>
            </thead>
            <tbody id="cats-table-body">
                {{ template "cats-tbody" .}}
            </tbody>
        </table>
    </div>

    <div class="right" style="display: none;">
        <div class="close-btn-container">
            <button class="close-btn" hx-on:click="document.querySelector('.right').style.display = 'none';">❌</button>
        </div>
        <h3>Создание/редактирование категории</h3>
        <div id="cats-panel"></div>
    </div>
</div>
{{ end }}

{{ define "cats" }}
{{ template "base" . }}
{{ end }}
