{{ define "content" }}
<div class="split-container">
    <div class="left">
        <div id="">
            <button hx-post="/cats/add-panel" hx-target="#cats-panel" hx-swap="innerHTML">ADD</button>
        </div>
        <table id="cats-table">
            <thead>
                <th class="no-sort">Категория</th>
            </thead>
            {{ template "cats-tbody" .}}
        </table>
    </div>

    <div class="right">
        <h3>Данные</h3>
        <div id="cats-panel"></div>
    </div>
</div>
{{ end }}

{{ define "cats" }}
{{ template "base" . }}
{{ end }}
