{{ define "content" }}
{{ $workers := .UWs }}
<div>
    <div id="">
        <button hx-post="/workers/add-panel" hx-target="#ew-panel" hx-swap="innerHTML">ADD</button>
    </div>

    <div>
        <table class="datatable" id="ew-table">
            <thead>
                <th>FULLNAME</th>
                <th>ROLE</th>
            </thead>
            <tbody>
                {{ range $workers }}
                <tr id="ew-{{ .Id }}" hx-post="/workers/edit-{{ .Id }}" hx-target="#ew-panel" hx-swap="innerHTML"
                    hx-trigger="click">
                    {{ template "ew-row" . }}
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>

    <div>
        <h3>Данные</h3>
        <div id="ew-panel">

        </div>
    </div>
</div>
{{ end }}



{{ define "workers" }}
{{ template "base" . }}
{{ end }}
