{{ define "content" }}
<div class="split-container">
    <div class="left">
        <div id="">
            <button hx-post="/workers/add-panel" hx-target="#workers-panel" hx-swap="innerHTML"
                hx-on:click="document.querySelector('.right').style.display = 'flex';">Добавить работника</button>
        </div>
        <table class="datatable" id="workers-table">
            <thead>
                <th>ФИО</th>
                <th>Роль</th>
                <th>Логин</th>
            </thead>
            <tbody id="workers-table-body">
                {{ range . }}
                {{ template "workers-row" . }}
                {{ end }}
            </tbody>
        </table>
    </div>

    <div class="right" id="right" style="display: none;">
        <div class="close-btn-container">
            <button class="close-btn" hx-on:click="document.querySelector('.right').style.display = 'none';">❌</button>
        </div>
        <h3>Создание/редактирование сотрудника</h3>
        <div id="workers-panel"></div>
    </div>
</div>
{{ end }}



{{ define "workers" }}
{{ template "base" . }}
{{ end }}
