{{ define "content" }}
{{ $workers := .UWs }}
<div>
    <div id="">
        <button hx-post="/workers/add-panel" hx-target="#workers-panel" hx-swap="innerHTML">ADD</button>
    </div>

    <div>
        <table class="datatable" id="workers-table">
            <thead>
                <th>FULLNAME</th>
                <th>ROLE</th>
            </thead>
            <tbody id="workers-table-body">
                {{ range $workers }}
                {{ template "workers-row" . }}
                {{ end }}
            </tbody>
        </table>
    </div>

    <div>
        <h3>Данные</h3>
        <div id="workers-panel">

        </div>
    </div>
</div>
{{ end }}



{{ define "workers" }}
{{ template "base" . }}
{{ end }}
