{{ define "addrtable" }}
{{ $cats:= .Data.Cats }}
{{ $workers := .Data.UWs }}
{{ $addrs:= .Data.Addrs }}
{{ $a := .Addr }}
{{ $helper := .Helper }}
{{ $tasks := .Data.Tasks }}
{{ $cur := (index $addrs $a).Address }}
<div class="task-wrapper force-rep" id="table">
    <h2>Задачи на объекте: {{ if $cur }} {{ $cur }} {{ else }} "Не выбран!" {{ end }}</h2>
    <div>
        <table id="table-filters" class="datatable">
            <thead>
                <tr>
                    <th>Категории</th>
                    <th>Постановка</th>
                    <th>Объект</th>
                    <th>Исполнитель</th>
                </tr>
            </thead>
            <tbody>
                {{ range $tasks }}
                {{ if eq .Addr_obj $a }}
                <tr>
                    <td data-label="Категории">
                        <span>{{ (index $cats .Cat1).Name }}&nbsp</span>
                        <span>{{ (index $cats .Cat2).Name }}&nbsp</span>
                        <span>{{ (index $cats .Cat3).Name }}</span>
                    </td>
                    <td data-label="Постановка">{{ .Desc }}</td>
                    <td data-label="Срок">{{ call $helper.NFormat .Until_date }}</td>
                    <td data-label="Исполнитель">{{ $w := (index $workers .Worker).W }} {{$w.F_name}} {{$w.I_name}}
                        {{$w.O_name}}</td>
                </tr>
                {{ end }}
                {{ end }}
            </tbody>
        </table>
    </div>
</div>

{{ end }}
