{{ define "addrs-row" }}
<tr id="addrs-row-{{ .Id }}" hx-post="/addrs/edit-{{ .Id }}" hx-target="#addrs-panel" hx-swap="innerHTML"
    hx-trigger="click" hx-on:click="$(this).addClass('selrow');$(this).siblings().removeClass('selrow')">
    <td>{{ .Address }}</td>
    <td>{{ if .Active }} ✔ {{ else }} ✘ {{ end }}</td>
</tr>
{{ end }}


{{ define "addrs-add" }}
<form hx-post="/addrs/add" id="addrs-add-f" hx-target="#addrs-table-body" hx-swap="beforeend" hx-push-url="false"
    hx-history="false">
    <div>
        <input type="text" name="addr">
    </div>
    <button type="submit">ADD</button>
</form>
{{ end }}


{{ define "addrs-upd" }}
<form hx-post="/addrs/upd-{{ .Id }}" id="addrs-upd-f" hx-target="#addrs-row-{{ .Id }}" hx-swap="outerHTML">
    <div>
        <input type="text" name="addr" value="{{ .Address }}">
    </div>
    <button type="submit">UPD</button>
    <button hx-post="/addrs/del-{{ .Id }}" hx-target="#addrs-row-{{ .Id }}">DEL</button>
</form>
{{ end }}
