{{ define "addrtable" }}

{{ $cats:= .Data.Cats }}
{{ $workers := .Data.UWs }}
{{ $addrs:= .Data.Addrs }}
{{ $a := .Addr }}
{{ $helper := .Helper }}
{{ $tasks := .Data.Tasks }}
{{ $cur := (index $addrs $a) }}

<div class="taskform-right" id="table">
    {{ if $cur }}
    <h2>Задачи на объекте: {{ $cur.Address }}</h2>
    {{ else }}
    <h2>Выберите объект</h2>
    {{ end }}
    <div>
        <table id="addr-block-table" class="datatable">
            <thead>
                <tr>
                    <th>Категории</th>
                    <th>Постановка</th>
                    <th>Объект</th>
                    <th>Исполнитель</th>
                </tr>
            </thead>
            <tbody id="addrs-tbody">
                {{ template "addrs-tbody" . }}
            </tbody>
        </table>
    </div>
</div>

{{ end }}
