{{ define "alltasks-tbody" }}
{{ $cats := .Data.Cats }}
{{ $workers := .Data.UWs }}
{{ $addrs := .Data.Addrs }}
{{ $tasks := .Data.Tasks }}
{{ $helper := .Helper }}

{{ range $tasks }}
<tr>
    <td data-label="">
        {{ call $helper.Status .Mark_date }}
    </td>
    <td data-label="Категории">
        <span>{{ (index $cats .Cat1).Name }}&nbsp</span>
        <span>{{ (index $cats .Cat2).Name }}&nbsp</span>
        <span>{{ (index $cats .Cat3).Name }}</span>
    </td>
    <td data-label="Объект">
        {{ if eq .Addr_obj 0 }}
        "-"
        {{ else }}
        {{ (index $addrs .Addr_obj).Address }}
        {{ end }}
    </td>
    <td data-label="Исполнитель">
        {{ $w := (index $workers .Worker).W }} {{ $w.F_name }} {{ $w.I_name }} {{ $w.O_name }}
    </td>
    <td data-label="Постановка">
        {{ .Desc }}
    </td>
</tr>
{{ end }}

{{ end }}
