{{ define "alltasks-tbody" }}
{{ $cats := .Data.Cats }}
{{ $workers := .Data.UWs }}
{{ $addrs := .Data.Addrs }}
{{ $tasks := .Data.Tasks }}
{{ $helper := .Helper }}

{{ range $tasks }}
<tr>
    <td data-label="">
        {{ call $helper.Status .Mark_date }}
    </td>
    <td data-label="Категории">
        <span>{{ (index $cats .Cat1).Name }}&nbsp</span>
        <span>{{ (index $cats .Cat2).Name }}&nbsp</span>
        <span>{{ (index $cats .Cat3).Name }}</span>
    </td>
    <td data-label="Объект">
        {{ if eq .Addr_obj 0 }}
        "-"
        {{ else }}
        {{ (index $addrs .Addr_obj).Address }}
        {{ end }}
    </td>
    <td data-label="Исполнитель">
        {{ $w := (index $workers .Worker).W }} {{ $w.F_name }} {{ $w.I_name }} {{ $w.O_name }}
    </td>
    <td data-label="Постановка">
        {{ .Desc }}
    </td>
</tr>
{{ end }}

{{ end }}


{{ define "alltasks-filters" }}
{{ $cats := .Data.Cats }}
{{ $workers := .Data.UWs }}
{{ $addrs := .Data.Addrs }}
{{ $tasks := .Data.Tasks }}
{{ $helper := .Helper }}
<div id="filter-worker">
    <select hx-post="/alltasks/filter" name="f-worker" hx-target="#alltasks-tbody" autocomplete="off"
        hx-swap="innerHTML" hx-include="#alltasks-filters *">
        <option {{ if eq $.Filter.Worker 0 }} selected {{end}} value="0">Работник не выбран</option>
        {{ range $workers }}
        <option {{ if eq $.Filter.Worker .W.Id}} selected {{end}} value="{{ .W.Id }}">
            {{ .W.F_name }} {{ .W.I_name }} {{ .W.O_name }}
        </option>
        {{ end }}
    </select>
</div>
<div id="filter-addr">
    <select hx-post="/alltasks/filter" name="f-addr" hx-target="#alltasks-tbody" autocomplete="off" hx-swap="innerHTML"
        hx-include="#alltasks-filters *">
        <option {{ if eq $.Filter.Addr 0 }} selected {{end}} value="0">Адрес не выбран</option>
        {{ range $addrs }}
        <option {{ if eq $.Filter.Addr .Id}} selected {{end}} value="{{ .Id }}">
            {{ .Address }}
        </option>
        {{ end }}
    </select>
</div>
<div id="filter-recent" class="checkbox-with-text">.
    <label for="f-recent">Показать задачи за последние 15 дней</label>
    <input type="checkbox" name="f-recent" id="f-recent" value="1" {{ if $.Filter.Recent }} checked {{ end }}
        hx-post="/alltasks/filter" hx-target="#alltasks-tbody" hx-swap="innerHTML" hx-include="#alltasks-filters *">
</div>
<div id="filter-status">
    <select name="f-status" hx-post="/alltasks/filter" hx-target="#alltasks-tbody" hx-swap="innerHTML"
        hx-include="#alltasks-filters *" autocomplete="off">
        <option {{ if eq $.Filter.Status 0 }} selected {{ end }} value="0">
            Все задачи
        </option>
        <option {{ if eq $.Filter.Status 1 }} selected {{ end }} value="1">
            Только выполненные
        </option>
        <option {{ if eq $.Filter.Status -1 }} selected {{ end }} value="-1">
            Только невыполненные
        </option>
    </select>
</div>
<div id="filter-clear">
    <button hx-post="/alltasks/reset-filter" hx-target="#alltasks-tbody" hx-swap="innerHTML">
        Сбросить фильтры
    </button>
</div>
{{ end }}


{{ define "alltasks-reset" }}
{{ template "alltasks-tbody" . }}
<div id="alltasks-filters" hx-swap-oob="true">
    {{ template "alltasks-filters" . }}
</div>
{{ end }}
