{{ define "cats-row" }}
<tr class="cats-row-{{ .Level }}" id="cats-row-{{ .Id }}" hx-post="/cats/edit-{{ .Id }}" hx-target="#cats-panel"
    hx-swap="innerHTML" hx-trigger="click"
    hx-on:click="$(this).addClass('selrow');$(this).siblings().removeClass('selrow'); document.querySelector('.right').style.display = 'flex';">
    <td class="cats-name">
        {{ if eq .Level 1 }}
        <span>{{ .Name }}</span>
        {{ end }}
        {{ if eq .Level 2 }}
        <span>↳ {{ .Name }}</span>
        {{ end }}
        {{ if eq .Level 3 }}
        <span>↳ ↳ {{ .Name }}</span>
        {{ end }}
    </td>
    <td class="cats-active">
        {{ if .Active }} ✔ {{ else }} ✘ {{ end }}
    </td>
</tr>
{{ end }}


{{ define "cats-add" }}
<form hx-post="/cats/add" id="cats-add-f" hx-target="#cats-table-body" hx-swap="innerHTML" hx-push-url="false"
    hx-history="false">
    <div class="menus-data">
        <input type="text" id="cat-name" name="cat-name" placeholder="Название">
        <div class="cats-checkbox">
            <label for="no-parent-checkbox">Категория верхневого уровня</label>
            <input type="checkbox" id="no-parent-checkbox" name="no-parent"
                hx-on:click="$('#cats-parent-div').toggle(!this.checked)" value="checked">
        </div>
        <div id="cats-parent-div">
            <h3>Родительская категория:</h3>
            <select id="cats-parent-sel" name="cats-parent-sel">
                {{ range . }}
                <option value="{{ .Id }}">{{ .Name }}; <br>Уровень: {{ .Level }}</option>
                {{ end }}
            </select>
        </div>
    </div>
    <button type="submit" hx-on:click="document.querySelector('.right').style.display = 'none';">Добавить
        категорию</button>
</form>
{{ end }}


{{ define "cats-upd" }}
<form hx-post="/cats/upd-{{ .Id }}" id="cats-upd-f" hx-target="#cats-row-{{ .Id }}" hx-swap="outerHTML">
    <div class="menus-data">
        <input type="text" id="cat-name" name="cat-name" value="{{ .Name }}">
    </div>
    <div class="menus-buttons">
        <button type="submit" hx-on:click="document.querySelector('.right').style.display = 'none';">Обновить</button>
        <button hx-post="/cats/del-{{ .Id }}" hx-target="#cats-row-{{ .Id }}"
            hx-on:click="document.querySelector('.right').style.display = 'none';">
            {{ if .Active }}Удалить{{ else }}Восстановить{{ end }}
        </button>

    </div>
</form>
{{ end }}


{{ define "cats-tbody" }}
{{ range . }}
{{ template "cats-row" . }}
{{ end }}
{{ end }}
