{{ define "cats-row" }}
<tr class="cats-row-{{ .Level }}" id="cats-row-{{ .Id }}" hx-post="/cats/edit-{{ .Id }}" hx-target="#cats-panel"
    hx-swap="innerHTML" hx-trigger="click"
    hx-on:click="$(this).addClass('selrow');$(this).siblings().removeClass('selrow')">
    {{ if eq .Level 3 }}
    <td>{{ . }}</td>
    {{ else }}
    <td>
        <button>EXP</button> <!-- due to be changed -->
        <span>{{ . }}</span>
    </td>
    {{ end }}
</tr>
{{ end }}

{{ define "cats-add" }}
<form hx-post="/cats/add" id="cats-add-f" hx-target="#cats-table-body" hx-swap="beforeend" hx-push-url="false"
    hx-history="false">
    <div>
        <label for="cat-name">Название</label>
        <input id="cat-name" name="cat-name">

        <label for="no-parent-checkbox">Категория верхневого уровня</label>
        <input type="checkbox" id="no-parent-checkbox" name="no-parent"
            hx-on:click="$('#cats-parent-sel').toggle(!this.checked)">

        <label for="cats-parent-sel">Родительская категория</label>
        <select id="cats-parent-sel" name="cats-parent-sel">
            {{ range . }}
            <option value="{{ .Id }}">NAME: {{ .Name }} <br>LEVEL: {{ .Level }}</option>
            {{ end }}
        </select>
    </div>
    <button type="submit">ADD</button>
</form>
{{ end }}


{{ define "cats-upd" }}
<form hx-post="/cats/upd-{{ .Id }}" id="cats-upd-f" hx-target="#cats-row-{{ .Id }}" hx-swap="outerHTML">
    <div>
        <input id="cat-name" name="cat-name" value="{{ . }}">
    </div>
    <button type="submit">UPD</button>
    <button hx-post="/cats/del-{{ .Id }}" hx-target="#cats-row-{{ .Id }}">DEL</button>
</form>
{{ end }}
