{{ define "mt-exp" }}

{{ $helper := .Helper }}
{{ $addrs := .Data.Addrs }}
{{ $cats := .Data.Cats }}
{{ $t := index .Data.Tasks .Id }}

{{ $md := call $helper.PNFormat $t.Mark_date }}

<div class="close-btn-container">
    <button class="close-btn" hx-on:click="document.querySelector('.right').style.display = 'none';">❌</button>
</div>
<div id="mt-left">
    <h1>Категории</h1>
    <p>
        {{ (index $cats $t.Cat1).Name }}
        <br> {{ (index $cats $t.Cat2).Name }}
        <br>
        {{ (index $cats $t.Cat3).Name }}
    </p>

    <h1>Адрес</h1>
    <p>{{ (index $addrs $t.Addr_obj).Address }}</p>

    {{ if $t.Until_date.Valid }}
    <h3>Срок выполнения:</h3>
    <p>{{ call $helper.PNFormat $t.Until_date }}</p>
    {{ end }}
    <h1>Выполнено:</h1>
    <p>{{ $md }}</p>

    <h1>Описание</h1>
    <p>{{ $t.Desc }}</p>

    <h1>Коментарий</h1>
    <p>{{ $t.Comment }}</p>
</div>

<div>
    {{ if eq $md "" }}
    <button id="conf" hx-post="/me/conf-{{ .Id }}" hx-swap="innerHTML" hx-target="#me-tbody">Подтвердить</button>
    {{ end }}
</div>
{{ end }}


{{ define "me-tbody" }}

{{ $helper := .Helper }}
{{ $addrs := .Data.Addrs }}
{{ $cats := .Data.Cats }}
{{ $tasks := .Data.Tasks }}
{{ $uid := .UID }}

{{ range $tasks }}
{{ if eq .Worker $uid }}
<tr id="mt-row-{{ .Id }}" hx-post="/me/exp-{{ .Id }}" hx-target="#mt-exp" hx-swap="innerHTML" hx-trigger="click"
    hx-on:click="$(this).addClass('selrow');$(this).siblings().removeClass('selrow');
                document.querySelector('.right').style.display = 'flex';">
    <td data-label="Категория">{{ (index $cats .Cat1).Name }} <br> {{ (index $cats .Cat2).Name }} <br>
        {{ (index $cats
        .Cat3).Name }}</td>
    <td data-label="Описание" class="desc">{{ .Desc }}</td>
    <td data-label="Адрес">{{ (index $addrs .Addr_obj).Address }}</td>
    <td data-label="Срок">{{ call $helper.NFormat .Until_date }}</td>
    <td data-label="Отметка">{{ call $helper.NFormat .Mark_date }}</td>
</tr>
{{ end }}
{{ end }}

{{ end }}
