{{ define "printtable" }}
{{ $cats := .Data.Cats }}
{{ $workers := .Data.UWs }}
{{ $addrs := .Data.Addrs }}

{{ $helper := .Helper }}
{{ $tasks := .Data.Tasks }}
{{ $fids := .Data.Filtered }}

<style>
    table {
        width: 100%;
    }

    table td {
        word-break: break-word;
    }

    .print-table {
        & thead tr {
            display: none;
        }

        & tbody {
            margin-bottom: 10px;
            border-collapse: collapse;
            border: 1px solid #ccc;
            padding: 10px;

            & tr {
                width: 100%;
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto auto auto;
                border: 1px solid #494949;
                page-break-inside: avoid;
                margin-bottom: 10px;
            }

            & td {
                padding: 5px;
                text-align: left;
                border: 1px solid #ccc;
                max-width: 100%;

                &::before {
                    content: attr(data-label);
                    margin-right: 10px;
                    font-weight: bold;
                    display: block;
                }
            }
        }
    }

    @media print {
        @page {
            margin: 20mm 10mm 20mm 20mm;
        }
    }
</style>

<div class="print-content">
    <table class="print-table">
        <tbody>
            {{ range $fids }}
            {{ $t := (index $tasks .) }}
            <tr>
                <td data-label="Категории">
                    {{ (index $cats $t.Cat1).Name }} <br>
                    {{ (index $cats $t.Cat2).Name }} <br>
                    {{ (index $cats $t.Cat3).Name }}
                </td>
                <td data-label="Постановка">{{ $t.Desc }}</td>
                <td data-label="Создано">{{ call $helper.PFormat $t.Created_date }}</td>
                <td data-label="Объект">{{ (index $addrs $t.Addr_obj).Address }}</td>
                <td data-label="Срок">{{ call $helper.PNFormat $t.Until_date }}</td>
                <td data-label="Исполнитель">
                    {{ $w := (index $workers $t.Worker).W }}
                    {{ $w.F_name }} {{ $w.I_name }} {{ $w.O_name }}
                </td>
                <td data-label="Комментарий">{{ $t.Comment }}</td>
                <td data-label="Выполнено">
                    {{ call $helper.PNFormat $t.Completed_date }}
                    {{ call $helper.Status $t.Mark_date }}
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}
