{{ define "tf-cat-1" }}
<select required name="cat1" hx-post="/newtask/cat-1" hx-swap="outerHTML" hx-target="#cat2" hx-trigger="change changed"
    hx-history="false" id="s1" hx-push-url="false" autocomplete="off">

    <option disabled value="-1" {{ if or (not .Filled) (eq .Filled.Cat1 0) }}selected{{ end }}>Не выбрано!</option>
    {{ range .Data.Cats }}
    {{ if eq .Level 1 }}
    <option value="{{ .Id }}" {{ if and $.Filled (eq .Id $.Filled.Cat1) }}selected{{ end }}>
        {{ .Name }}
    </option>
    {{ end }}
    {{ end }}

</select>
{{ end }}

{{ define "tf-cat-2" }}
{{ $val := .Cat1.Int32 }}
<select required name="cat2" hx-post="/newtask/cat-2" hx-swap="outerHTML" hx-target="#cat3" hx-trigger="change changed"
    hx-history="false" id="s2" hx-push-url="false" autocomplete="off">
    <option disabled value="-1" {{ if or (not .Filled) (eq .Filled.Cat2 0) }}selected{{ end }}>Не выбрано!</option>

    {{ range .Data.Cats }}
    {{ if eq .Parent.Int32 $val }}
    {{ if eq .Level 2 }}
    <option value="{{ .Id }}" {{ if and $.Filled (eq .Id $.Filled.Cat2) }}selected{{ end }}>
        {{ .Name }}
    </option>
    {{ end }}
    {{ end }}
    {{ end }}

</select>
{{ end }}


{{ define "tf-cat-3" }}
{{ $val := .Cat2.Int32 }}
<select required name="cat3" id="s3" autocomplete="off" class="reoc">

    <option disabled value="-1" {{ if or (not .Filled) (eq .Filled.Cat3 0) }}selected{{ end }}>Не выбрано!</option>
    {{ range .Data.Cats }}
    {{ if eq .Parent.Int32 $val }}
    {{ if eq .Level 3 }}
    <option value="{{ .Id }}" {{ if and $.Filled (eq .Id $.Filled.Cat3) }}selected{{ end }}>
        {{ .Name }}
    </option>
    {{ end }}
    {{ end }}
    {{ end }}

</select>
{{ end }}


{{ define "tf-cat-1-res" }}
<div id="cat2" hx-swap-oob="outerHTML">
    {{ template "tf-cat-2" . }}
</div>
<div id="cat3" hx-swap-oob="outerHTML">
    {{ template "tf-cat-3" . }}
</div>
{{ end }}


{{ define "tf-addr" }}
<select required name="address" id="addr" hx-post="/newtask/addr" hx-trigger="change changed" hx-target="#addrs-tbody"
    hx-swap="innerHTML" hx-history="false" hx-push-url="false" autocomplete="off" class="reoc">
    <option {{ if or (not .Filled) (eq .Filled.Addr_obj 0) }}selected{{ end }}>Не выбран!</option>
    {{ range $v := .Data.Addrs }}
    {{ if $v.Active }}
    <option value="{{ $v.Id }}" {{ if and $.Filled (eq $v.Id $.Filled.Addr_obj) }}selected{{ end }}>
        {{ $v.Address }}
    </option>
    {{ end }}
    {{ end }}
</select>
{{ end }}


{{ define "tf-act" }}
<select id="actor-selector" required name="act" autocomplete="off" class="reoc">
    <option disabled value="-1" {{ if or (not .Filled) (eq .Filled.Worker 0) }}selected{{ end }}>Не выбран!</option>
    {{ range $i, $v := .Data.UWs }}
    {{ if ne $v.U.Level 0 }}
    <option value="{{ $i }}" {{ if and $.Filled (eq $i $.Filled.Worker) }}selected{{ end }}>
        {{ $v.W.F_name }} {{ $v.W.I_name }} {{ $v.W.O_name }}
    </option>
    {{ end }}
    {{ end }}
</select>
{{ end }}
