{{ define "taskform" }}
<div class="taskform-left" id="tf-left">
    <form hx-post="/newtask/" id="task-form" hx-target="#tf-left" hx-swap="outerHTML" hx-push-url="false"
        autocomplete="off">
        <div>
            <div class="form-start">
                <div id="comb-cat-wrap" class="{{ if and .Errors .Errors.Cats }} form-error {{ end }}">
                    <label>Категории задачи</label>
                    <div id="cat1">
                        {{ template "tf-cat-1" . }}
                    </div>
                    <div id="cat2">
                        {{ template "tf-cat-2" . }}
                    </div>
                    <div id="cat3">
                        {{ template "tf-cat-3" . }}
                    </div>
                </div>
                <div class="{{ if and .Errors .Errors.Addr }} form-error {{ end }}">
                    <label>Адрес</label>
                    {{ template "tf-addr" . }}
                </div>
                <div class="{{ if and .Errors .Errors.Desc }} form-error {{ end }}">
                    <label>Описание задачи</label>
                    {{ if .Filled }}
                    <textarea class="form-textarea reoc" id="description" name="desc">{{ .Filled.Desc }}</textarea>
                    {{ else }}
                    <textarea class="form-textarea reoc" id="description" name="desc"></textarea>
                    {{ end }}
                </div>
            </div>
            <div class="form-executor">
                <div class="{{ if and .Errors .Errors.Worker }} form-error {{ end }}" id="act-div">
                    <label>Исполнитель</label>
                    {{ template "tf-act" . }}
                </div>
                <div>
                    <label>Комментарий</label>
                    <input type="text" id="comment" name="comment"
                        value="{{ if .Filled }}{{ .Filled.Comment }}{{ end }}">
                </div>
            </div>
            <div class="form-date">
                <div>
                    <label>Дата создания</label>
                    {{ $date := "" }}
                    {{- if .Filled -}}
                    {{ $date = .Filled.Created_date.Format "2006-01-02" -}}
                    {{ else }}
                    {{ $date = .Today }}
                    {{ end }}
                    <input type="date" id="created" name="created" value='{{ $date }}'>
                </div>
                <div id="until-div" class="{{ if and .Errors .Errors.Until }} form-error {{ end }}">
                    <div>
                        <label>Срок выполнения</label>
                        {{ if .Filled }}
                        {{ if .Checked }}
                        <input type="date" class="reoc" id="do-until" name="do-until" style="display: none;">
                        {{ else }}
                        {{ if .Filled.Until_date.Valid }}
                        {{ $date := .Filled.Until_date.Time.Format "2006-01-02" }}
                        <input type="date" class="reoc" id="do-until" name="do-until" value="{{ $date }}">
                        {{ else }}
                        <input type="date" class="reoc" id="do-until" name="do-until">
                        {{ end }}
                        {{ end }}
                        {{ else }}
                        <input type="date" class="reoc" id="do-until" name="do-until">
                        {{ end }}
                    </div>
                    <div>
                        <label>Без определенного срока</label>
                        <input type="checkbox" class="reoc" id="until-checkbox" name="until-checkbox" value="checked" {{
                            if and (and .Filled (not .Filled.Until_date.Valid) .Checked )}} checked {{ end }}
                            hx-on:click="$('#do-until').toggle(!this.checked)">
                    </div>
                </div>
            </div>
            <div style="text-align: center">
                <button type="submit">Добавить задачу</button>
            </div>
        </div>
    </form>
</div>
{{ end }}
