/* tables.css */

#block-table thead tr,
.table-filters thead tr
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#block-table thead th,
.table-filters thead th
{
    flex: 1;
    min-width: 150px;
    white-space: nowrap;
    text-align: center;
}

#block-table tbody,
.table-filters tbody
{
    margin-bottom: 10px;
    border-collapse: collapse;
    border: 1px solid #ccc;
    padding: 10px
}

#block-table tbody tr,
.table-filters tbody tr
{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

#block-table tbody td:nth-child(1) {
    grid-column: 1 / 4;
}

#block-table tbody td:nth-child(2) {
    white-space: normal;
}

#block-table tbody td:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.table-filters tbody td:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.table-filters tbody td:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.table-filters tbody td:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#block-table tbody td,
.table-filters tbody td
{
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
}

#block-table tbody td::before,
.table-filters tbody td::before {
    content: attr(data-label);
    margin-right: 10px;
    font-weight: bold;
    display: block;
}

#block-table span,
.table-filters span
{
    display: grid;
}

/* Tablet */
@media (min-width: 768px) {
    #block-table tbody td {
        text-align: left;
    }

    #block-table thead th {
        display: table-cell;
    }

    #block-table thead th {
        text-align: left;
    }

    #block-table tbody td {
        align-content: center;
        display: flex;
    }

    #block-table tbody tr {
        grid-template-columns: 50px 250px auto;
        grid-template-rows: auto auto auto;
    }

    .table-filters tbody tr {
        grid-template-columns: 150px 250px auto;
        grid-template-rows: auto auto auto;
    }

    #block-table tbody td:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    #block-table tbody td:nth-child(5) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
        display: grid;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    #block-table tbody td {
        text-align: left;
    }

    #block-table thead th {
        display: table-cell;
    }

    #block-table thead th {
        text-align: left;
    }

    #block-table tbody td {
        align-content: center;
        display: flex;
    }

    #block-table tbody tr {
        grid-template-columns: 50px 250px auto;
        grid-template-rows: auto auto auto;
    }

    .table-filters tbody tr {
        grid-template-columns: 150px 250px auto;
        grid-template-rows: auto auto auto;
    }

    #block-table tbody td:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    #block-table tbody td:nth-child(5) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
        display: grid;
    }
}