/* block-tables.css */

#alltask-block-table,
#addr-block-table,
#mytask-block-table
{
    & thead tr {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    & thead th {
        flex: 1;
        min-width: 150px;
        white-space: nowrap;
        text-align: center;
    }

    & tbody {
        margin-bottom: 10px;
        border-collapse: collapse;
        border: 1px solid #ccc;
        padding: 10px
    }

    & tbody tr {
        width: 100%;
        display: grid;
        grid-template-columns: 135px auto auto;
        grid-template-rows: auto auto auto;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    }

    & tbody td {
        padding: 5px;
        text-align: center;
        border: 1px solid #ccc;
        max-width: 100%;

        &::before {
            content: attr(data-label);
            margin-right: 10px;
            font-weight: bold;
            display: block;
        }
    }
}

/* Индивидуальные grid-расположения */
#alltask-block-table tbody tr {
    & td:nth-child(1) { grid-column: 1 / 4; }
    & td:nth-child(2) { grid-column: 1 / 2; white-space: normal; }
    & td:nth-child(3) { grid-column: 2 / 4; }
    & td:nth-child(4) { grid-column: 1 / 4;}
    & td:nth-child(5) { grid-column: 1 / 4; grid-row: 3 / 4; }
}

#addr-block-table tbody tr {
    & td:nth-child(1) { grid-column: 1 / 4; grid-row: 2 / 3; }
    & td:nth-child(2) { grid-column: 1 / 4; grid-row: 3 / 4; }
    & td:nth-child(3) { grid-column: 1 / 4; grid-row: 1 / 2; }
    & td:nth-child(4) { grid-column: 1 / 4;}
}

#mytask-block-table tbody tr {
    & td:nth-child(1) { grid-column: 1 / 2; grid-row: 2 / 3; }
    & td:nth-child(2) { grid-column: 2 / 4; grid-row: 2 / 3; }
    & td:nth-child(3) { grid-column: 1 / 2; grid-row: 1 / 2; }
    & td:nth-child(5) { grid-column: 2 / 3; grid-row: 1 / 2; }
}

#alltask-block-table span,
#addr-block-table span
{
    display: grid;
}

/* Tablet */
@media (min-width: 768px) {
    #alltask-block-table {
        & tbody td {
            text-align: left;
            align-content: center;
            display: flex;
        }

        & thead th {
            display: table-cell;
            text-align: left;
        }

        & tbody tr {
            grid-template-columns: 50px 350px auto;
            grid-template-rows: auto auto auto;

            & td:nth-child(1) { grid-column: 1 / 2; grid-row: 1 / 4; }
            & td:nth-child(2) { grid-column: 2 / 3; }
            & td:nth-child(3) { grid-column: 2 / 3; }
            & td:nth-child(4) { grid-column: 2 / 3; }
            & td:nth-child(5) {
                grid-column: 3 / 4;
                grid-row: 1 / 4;
                display: grid;
            }
        }
    }

    #addr-block-table tbody tr {
        grid-template-columns: 150px auto auto;
        grid-template-rows: auto auto auto;

        & td:nth-child(1) { grid-column: 1 / 2; grid-row: 2 / 3; }
        & td:nth-child(2) { grid-column: 1 / 4; grid-row: 3 / 4; }
        & td:nth-child(3) { grid-column: 1 / 4; grid-row: 1 / 2; }
        & td:nth-child(4) { grid-column: 2 / 4; grid-row: 2 / 3; }
    }

}

/* Desktop */
@media (min-width: 1024px) {
    #alltask-block-table {
        & tbody td {
            text-align: left;
            align-content: center;
            display: flex;
        }

        & thead th {
            display: table-cell;
            text-align: left;
        }

        & tbody tr {
            grid-template-columns: 50px 350px auto;
            grid-template-rows: auto auto auto;

            & td:nth-child(1) { grid-column: 1 / 2; grid-row: 1 / 4; }
            & td:nth-child(2) { grid-column: 2 / 3; }
            & td:nth-child(3) { grid-column: 2 / 3; }
            & td:nth-child(4) { grid-column: 2 / 3; }

            & td:nth-child(5) {
                grid-column: 3 / 4;
                grid-row: 1 / 4;
                display: grid;
                min-width: 100%;
            }
        }
    }

    #addr-block-table tbody tr {
        grid-template-columns: 150px auto auto;
        grid-template-rows: auto auto auto;

        & td:nth-child(1) { grid-column: 1 / 2; grid-row: 2 / 3; }
        & td:nth-child(2) { grid-column: 1 / 4; grid-row: 3 / 4; }
        & td:nth-child(3) { grid-column: 1 / 4; grid-row: 1 / 2; }
        & td:nth-child(4) { grid-column: 2 / 4; grid-row: 2 / 3; }
    }
}