.form-error {
    color: red !important;
    border-color: red !important;

    & select,
    textarea,
    input {
        color: red !important;
        border-color: red !important;
    }

    & option {
        color: black;
    }
}

select.form-error,
input.form-error,
textarea.form-error {
    color: red !important;
    border-color: red !important;
}
