.task-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    align-items: center;
}

.split-container {
    display: flex;
    grid-template-areas: "overlay";
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.left {
    position: relative;
    z-index: 1;

    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 0.5rem;
    margin: 10px;

    & table {
        width: 100%;
    }

    & th,
    td {
        padding: 0.5rem;
        font-size: 0.9rem;
    }
}

.right {
    position: fixed;
    display: none;
    z-index: 2;

    border: 1px solid #ccc;
    background: #fafafa;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 1rem;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 300px;
    width: 90%;
    margin: 10px;
}

.taskform-left {
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 0.5rem;
    width: 100%;
    margin: 10px;
}

.taskform-right {
    border: 1px solid #ccc;
    background: #fafafa;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 1rem;
    width: 100%;
    margin: 10px;
}

#mt-left,
#mt-right {
    flex: none;
    overflow-wrap: break-word;

    & p {
        margin-bottom: 1rem;
        font-size: 1rem;
        line-height: 1.4;
    }
}

@media (max-width: 1024px) {
    #content {
        padding: 2% 2%;
    }

    .left {
        width: 100%;
    }

    .right {
        margin-top: 25px;
    }
}

@media (min-width: 1024px) {
    .split-container {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        flex-direction: row;
    }

    .left {
        width: 75%;
    }

    .right {
        display: flex;
        width: 25%;
    }

    .left,
    .right {
        position: relative;
    }
}

@media (min-width: 1350px) {

    .left,
    .right {
        position: relative;
    }
}
