/* tables.css */

.block-table tbody {
    display: flex;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px
}

.block-table tbody tr {
    width: 100%;
    display: block;
}

.block-table tbody td {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

.block-table tbody td::before {
    content: attr(data-lable);
    margin-right: 10px;
    font-weight: bold;
    display: block;
}

.block-table tbody td:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.63);
}

.block-table tbody td:nth-child(even) {
    background-color: rgba(228, 228, 228, 0.34);
}

/* Tablet */
@media (min-width: 768px) {
    .block-table tbody td {
        text-align: left;
    }

    .block-table tbody td::before {
        display: inline-grid;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .block-table tbody td {
        text-align: left;
    }

    .block-table tbody td::before {
        display: inline-grid;
    }
}