body {
    background-color: #eeeefe;
}

.half-split {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

th,
tr,
td {
    text-align: center;
    border: 1px solid;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
}
