{{ define "base" }}

<!DOCTYPE html>
<html lang="ru">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/text.css">
    <link rel="stylesheet" href="/css/input.css">
    <link rel="stylesheet" href="/css/table.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.4/css/dataTables.dataTables.css">

    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.3.4/js/dataTables.js"></script>
</head>

<body>

    {{ template "header" . }}

    <div id="content">
        {{ block "content" . }} {{ end }}
    </div>
    <script>
        document.body.addEventListener('htmx:responseError', function (e) {
            console.log(e)
            if (e.detail.xhr.status == 401) {
                window.location.href = "/signin";
            }
        });
    </script>
</body>

</html>

{{ end }}
