{{ define "ew-row" }}
<td>{{ .F_name }} {{ .I_name }} {{ .O_name }}</td>
<td>THERE SHALL BE DATA PULLED FROM USERS</td>
{{ end }}


{{ define "ew-add" }}
<form hx-post="/edit-workers/add" id="ew-add-f">
    <div>
        <input type="text" name="f_name">
        <input type="text" name="i_name">
        <input type="text" name="o_name">
        <input type="text" name="login" hx-post="/edit-workers/add/tel">
        <div id="ew-add-tel-err">

        </div>
        <input type="text" name="pas">
        <button hx-post="/edit-workers/add/gen">GENERATE PASSWORD</button>
    </div>
    <select>
    </select>
    <button type="submit">ADD</button>
</form>
{{ end }}



{{ define "ew-upd" }}
<form hx-post="/edit-workers/upd" id="ew-upd-f" hx-target="#{{ .Target }}">
    <div>
        <input type="text" name="f_name" value="{{ .Worker.F_name }}">
        <input type="text" name="i_name" value="{{ .Worker.I_name }}">
        <input type="text" name="o_name" value="{{ .Worker.O_name }}">
    </div>
    <select>
    </select>
    <button type="submit">UPD</button>
</form>
{{ end }}
