{{ define "me-f" }}

{{ $helper := .Helper }}
{{ $addrs := .Mapped.Addresses }}
{{ $cats := .Mapped.Categories }}
{{ $uid := .UID }}

<link rel="stylesheet" href="/css/me.css">

<div class="task-wrapper">
    <div id="mytasks" class="left">

        <table>
            <thead>
                <th class="cat col">Категория</th>
                <th class="desc col">Описание</th>
                <th class="addr col">Адрес</th>
                <th class="until col">Срок</th>
                <th class="mark_date col">Отметка</th>
                <th class="mark col">Подтвердить</th>
            </thead>
            {{ range $i, $v := .Raw.Tasks }}
            {{ if eq $v.Worker $uid }}
            <tr id="mt-row-{{ $i }}" hx-post="/me/exp-{{ $v.Id }}" hx-target="#mt-exp" hx-swap="innerHTML"
                hx-trigger="click">
                {{ $md := call $helper.NFormat $v.Mark_date }}
                <td>{{ index $cats $v.Cat_1 }} <br> {{ index $cats $v.Cat_2 }} <br> {{ index $cats $v.Cat_3 }}</td>
                <td class="desc">{{ $v.Desc }}</td>
                <td>{{ index $addrs $v.Addr_obj }}</td>
                <td>{{ call $helper.NFormat $v.Until_date }}</td>
                <td>{{ $md }}</td>
                <td id="conf-btn-{{ $v.Id }}">
                    {{ if eq $md "-" }}
                    <input type="button" id="conf-{{ $i }}" hx-post="/me/conf-{{ $v.Id }}">
                    {{ end }}
                </td>
            </tr>
            {{ end }}
            {{ end }}
        </table>
    </div>

    <div id="mt-exp" class="right">
    </div>
</div>

{{ end }}






{{ define "mt-exp" }}

{{ $helper := .Helper }}
{{ $addrs := .Addrs }}
{{ $cats := .Cats }}
{{ $v := .Task }}

<div id="mt-left">

    {{ $md := call $helper.NFormat $v.Mark_date }}
    <p>{{ index $cats $v.Cat_1 }} <br> {{ index $cats $v.Cat_2 }} <br> {{ index $cats $v.Cat_3 }}</p>
    <p>{{ index $addrs $v.Addr_obj }}</p>
    <p>{{ call $helper.NFormat $v.Until_date }}</p>
    <p>{{ $md }}</p>
</div>

<div id="mt-right">
    <p>{{ $v.Desc }}</p>
    <p>{{ $v.Comment }}</p>
</div>

{{ end }}
