{{ define "sort-table" }}

{{ $mapped := .Mapped }}
{{ $cats:= $mapped.Categories }}
{{ $workers := $mapped.Workers }}
{{ $addrs:= $mapped.Addresses }}

{{ $helper := .Helper }}
{{ $tasks := .Raw.Tasks }}
{{ $filter := true }}
<div id="sort-table" class="table content">
    <div id="sort-table-filters">
        <p>фильтры</p>

    </div>

    <table>
        <thead>
            <th>К1</th>
            <th>К2</th>
            <th>К3</th>
            <th>Постановка</th>
            <th>Объект</th>
            <th>Создано</th>
            <th>Срок</th>
            <th>Отмечено</th>
            <th>Выполнено</th>
            <th>Исполнитель</th>
            <th>Комментарий</th>
        </thead>

        {{ range $tasks }}
        {{ if $filter }}

        <tr>
            <td>{{ index $cats .Cat_1 }}</td>
            <td>{{ index $cats .Cat_2 }}</td>
            <td>{{ index $cats .Cat_3 }}</td>
            <td>{{ .Desc }}</td>
            <td>{{ index $addrs .Addr_obj }}</td>
            <td>{{ call $helper.Format .Created_date }}</td>
            <td>{{ call $helper.NFormat .Until_date }}</td>
            <td>{{ call $helper.NFormat .Mark_date }}</td>
            <td>{{ call $helper.NFormat .Completed_date }}</td>
            <td>{{ index $workers .Worker }}</td>
            <td>{{ .Comment }}</td>
        </tr>

        {{ end }}
        {{ end }}
    </table>
</div>

{{ end }}
