{{ define "auth" }}
{{ template "base" . }}
{{ end }}

{{ define "content" }}
<div>
    <form hx-post="/submit-auth" hx-target="#content" hx-swap="innerHTML">

        <input type="tel" hx-post="/submit-auth/tel" hx-target="#tel-err" hx-push-url="false" hx-swap="outerHTML"
            hx-trigger="change" name="tel">
        <div id="tel-err">{{ template "tel-err" }}</div>

        <input id="password" type="password" name="pass">

        <div>

        </div>

        <button type="submit">Авторизоваться</button>
    </form>
</div>
{{ end }}



{{ define "tel-err" }}
<div id="tel-err">{{ . }}</div>
{{ end }}

{{ block "auth-failed" . }}
<span>Не удалось авторизоваться</span>
{{ end }}

{{ block "auth-ok" . }}

{{ end }}
