{{ define "task-list" }}
{{ template "base" . }}
{{ end }}


{{ define "content" }}
<div>
    <h1>Задачи</h1>
    {{ $tasks := .Raw.Tasks }}
    {{ $cats := .Mapped.Categories }}
    {{ $adds := .Mapped.Addresses }}
    {{ $helper := .Helper }}
    {{ $ws:= .Mapped.Workers }}
    {{ range $tasks }}
    <div>
        <label>Категория 1</label>
        <span>{{ index $cats .Cat_1 }}</span>

        <label>Категория 2</label>
        <span>{{ index $cats .Cat_2 }}</span>

        <label>Категория 3</label>
        <span>{{ index $cats .Cat_3 }}</span>

        <label>Описание</label>
        <span>{{ .Desc }}</span>

        <label>Адрес</label>
        <span>{{ index $adds .Addr_obj }}</span>

        <label>Дата создания</label>
        <span>{{ call $helper.Format .Created_date }}</span>

        <label>Срок выполнения</label>
        <span>{{ call $helper.NFormat .Until_date }}</span>

        <label>Отмечено</label>
        <span>{{ call $helper.NFormat .Mark_date }}</span>

        <label>Выполнено</label>
        <span>{{ call $helper.NFormat .Completed_date }}</span>

        <label>Доп. комментарий</label>
        <span>{{ .Comment }}</span>

        <label>Исполнитель</label>
        <span>{{ index $ws .Worker }}</span>
    </div>
    <hr>
    {{ end }}
</div>

{{ end }}
